navbar{
    height: 100px;
    display: flex;
    padding-top: 9px;
    margin-bottom: 9px;
    background-color:white;
}

.navBarMain{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  background-color: white;
} 
.navBarMain div:nth-child(1) { grid-column-start: 2; } 

.navBarMain div:nth-child(2) { margin-left: auto; }

.links{
    display: flex;
    justify-content: flex-end;
}

.navBarItem{

}

#Brand{
    font-family: 'Rozha One', serif;   
    flex-grow: 12;
    font-size: 90px;

}
.NavLogOut{
display: flex;
align-self:flex-end;
padding-bottom: 10px;
}

Form{
    margin-left: 20px; 
}
input{
    margin-left: 20px;
    margin-bottom: 2px;
    width: 300px;
    height: 38px;
    border: 0ch;
}

.UserList{
    display: flex;
    flex-direction: column;
}
.NavUser{
    text-align: center;
    font-weight: 900;
}

.search{
    width: 100%;
    
}